---
import data from '@lib/products.json';
import Layout from '@layouts/Layout.astro';
import FeaturesSection from '@components/FeaturesSection.astro'
import ListOfSuggestedProducts from '@components/ListOfSuggestedProducts.astro'
import GallerySection from '@components/GallerySection.astro'
import GoBackButton from '@components/GoBackButton'
import Product from '@components/Product.astro'

export function getStaticPaths() {
  return data.products.map((product) => (
    { 
      params: { category: `${product.category}`, slug: `${product.slug}` },
      props: { title: `Audiophile E-commerce | ${product.name}` },
    }
  ));
}

const { slug } = Astro.params;
const { title } = Astro.props;

//Get the specific product
const product = data.products.find((product) => product.slug === slug);
---

<Layout title={title}>
  <section class="sectionProductDetail">
    <GoBackButton client:load />

    <Product product={product} detail />
  </section>

  <FeaturesSection features={product?.features} includedItems={product?.includedItems}/>

  <GallerySection gallery={product?.gallery}/>

  <ListOfSuggestedProducts suggestedProducts={product?.others} />
</Layout>

<style>
  .sectionProductDetail{
    background-color: var(--white);
  }
</style>