---
import Link from "./Link.astro";
import AddToCart from "./AddToCart";

const { detail = false, product } = Astro.props;
---

{!detail ? (
  <div class="containerProduct">
    <picture transition:name={`product ${product.id} image`}>
      <source media="(min-width: 1000px)" srcset={product.categoryImage.desktop} />

      <source media="(min-width: 480px)" srcset={product.categoryImage.tablet} />

      <img srcset={product.categoryImage.mobile} alt={product.shortName} />
    </picture>

    <div>
      {product.new && (<p class="newProduct" transition:name={`product ${product.id} new`}>New Product</p>)}

      <h2 transition:name={`product ${product.id} name`}>
        {product.name}
      </h2>

      <p class="productDescription" transition:name={`product ${product.id} description`}>
        {product.description}
      </p>

      <div class="productLink" transition:name={`product ${product.id} button`}>
        <Link href={`${product.category}/${product.slug}`} type="primary">
          See Product
        </Link>
      </div>
    </div>
  </div>
) : (
  <div class="containerProductDetail">
    <picture transition:name={`product ${product.id} image`}>
      <source media="(min-width: 1000px)" srcset={product.image.desktop} />

      <source media="(min-width: 480px)" srcset={product.image.tablet} />
      
      <img srcset={product.image.mobile} alt={product.shortName} />
    </picture>

    <div>
      {product.new && (<p class="newProductDetail" transition:name={`product ${product.id} new`}>New Product</p>)}

      <h2 transition:name={`product ${product.id} name`}>
        {product.name}
      </h2>

      <p class="productDetailDescription" transition:name={`product ${product.id} description`}>
        {product.description}
      </p>

      <p class="productDetailPrice">
        {`$ ${product.price.toLocaleString('en-US')}`}
      </p>

      <div class="productDetailCart">
        <AddToCart product={product} client:load />
      </div>
    </div>
  </div>
)}

<style>
  .containerProduct, .containerProductDetail{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }

  .containerProductDetail{
    padding-top: 0;
    width: 90%;
    margin: 0 auto;
  }

  .containerProduct:last-of-type{
    padding-bottom: 2rem;
  }

  .containerProduct picture img, .containerProductDetail picture img{
    border-radius: 5px;
  }

  .newProduct, .newProductDetail{
    color: var(--orange);
    text-transform: uppercase;
    letter-spacing: .5em;
    text-align: center;
    padding-bottom: 1rem;
  }

  .newProductDetail{
    text-align: left;
  }

  .containerProduct div h2, .containerProductDetail div h2{
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding-bottom: 1rem;
    font-size: 2em;
    max-width: 12ch;
  }

  .containerProductDetail div h2{
    text-align: left;
    margin: 0;
  }

  .productDescription, .productDetailDescription{
    text-align: center;
    color: var(--gray);
    line-height: 1.7em;
  }

  .productDetailDescription{
    text-align: left;
  }

  .productDetailPrice{
    color: var(--black);
    font-weight: bold;
    padding-block: 2rem;
    letter-spacing: .1em;
  }

  .productLink{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }

  .productDetailCart{
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  /* TABLET */
  @media (min-width: 480px){
    .containerProduct:last-of-type{
      padding-bottom: 4rem;
    }
    
    .containerProductDetail{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4rem;
    }
  }

  /* DESKTOP */
  @media (min-width: 1000px){
    .containerProduct{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4rem;
    }

    .containerProductDetail{
      width: 80%;
    }

    .containerProduct:nth-child(even) picture{
      grid-column: 2/3;
    }

    .containerProduct:nth-child(even) div{
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .newProduct, .productDescription{
      text-align: left;
    }

    .containerProduct div h2{
      text-align: left;
      margin: 0;
    }

    .containerProductDetail div h2{
      font-size: 2.5em;
    }

    .productLink{
      justify-content: flex-start;
      padding-top: 2rem;
    }
  }
</style>